<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/myHiber</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">12345</property>

        <!-- Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.region.factory_class">jcache</property>
        <mapping class="org.example.Student"/>
        <mapping class="org.example.Address"/>
        <mapping class="org.Mapping.Question"/>
        <mapping class="org.Mapping.Answer"/>
        <mapping class="org.Mapping.ManyToMany.Emp"/>
        <mapping class="org.Mapping.ManyToMany.Project"/>

        <mapping resource="Person.hbm.xml"/>

    </session-factory>

</hibernate-configuration>
